/* ============================================= */
/*              Color Variables                     */
/* ============================================= */

$head1: #000;
$head2: #32a852;
$body: #777;
$link: #51ddfc;
$quote: purple;

$head1-light: lighten($head1, 25%);
$head2-light: lighten($head2, 25%);
$body-light: lighten($body, 25%);
$link-light: lighten($link, 25%);
$quote-light: lighten($quote, 25%);


/* ============================================= */
/*              Media Query Breakpoints              */
/* ============================================= */

$break-med: 768px;