/* ============================================= */
/*              Color Variables                     */
/* ============================================= */

$head1: #000;
$head2: #32a852;
$body: #777;
$link: #51ddfc;
$quote: purple;

$link-light: lighten($link, 50%);



/* ============================================= */
/*              Media Query Breakpoints              */
/* ============================================= */

$break-med: 768px;