/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $head1-light;
}

.error {
  background-color: $head2-light;
}

.info {
  background-color: $body-light;
}

.success {
  background-color: $link-light;
}

.warning {
  background-color: $quote-light;
}
