


/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: 'Lato', sans-serif;
  color: $body;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 2em;
}

h4,
legend {
  font-size: 1.5em;
}




  
 /* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  color: $head1;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: 300;
  color: $head2;
}

.link {
  color: $link;
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $quote;
  border-radius: 5px;
  color: $quote;
}

  



